
.upper_div{
    background-color: rgb(58, 190, 73);
    text-align: center;
    color: white;
   padding: 1px;
    font-size: 30px;
}
.navbar {
    background-color: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
  }
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 18px;
  }
  .box {
    background-color: #fff;
    padding: 30px 40px;
    max-width: 600px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 300px;
  }

  .box h1 {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .box p {
    font-size: 16px;
    color: #333;
  }

  .pricing-box {
    
    margin: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .pricing-box h2 {
    text-align: center;
    padding: 20px 0;
    
    margin: 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  thead tr {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
  }
  
  th, td {
    padding: 12px;
    border-top: 1px solid #0e0303;
  }
  
  td {
    color: #333;
    font-weight: bold;
  }
  .table1-container {
    max-width: 700px;
    margin: auto;
    background: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .table1 {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .table1 thead th {
    background-color: #e6f2ff;
    font-weight: bold;
    padding: 12px;
    border: 1px solid #333;
  }
  
  .table1 tbody td {
    padding: 10px;
    border: 1px solid #333;
  }
  
  .table1 tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .contact-section {
    background: #fff;
    padding: 30px;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .contact-section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    margin-top: 20px;
    padding: 12px;
    border: none;
    background: #28a745;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .contact-form button:hover {
    background: #218838;
  }
  

  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer .heart {
    color: red;
  }